@import "reset.css"; 
@green:#ffea01;
@yellow:#ffea00;
@white:#FFF;
@orange:#ff742b;

.fredokafont(){
	font-family: 'Fredoka One', cursive;
}
.ptseriffont(){
	font-family: 'PT Serif', serif;

}
.ralewayfont(){
	font-family: 'Raleway', sans-serif;
}

body{
	.fredokafont();
	background-color: #fff9e7;
	.container{
	background: #fff9e7 url(img/bg.png) no-repeat bottom right;
	}  
	.container{
		height: 1000px;

	}
}
.wrapper{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

// @dark:darken(@color,10%);
// @dark2:darken(@color,50%);
// @color: #303030;
// @main-font:Ubuntu;
// @f-size1:35px;

// .border-radius(@size:55px){
// 	border-radius:@size;
// }

// body{
// 	background: #000;
// 	opacity: 12;
// 	font-family: @main-font;
// 	color: #FFF;


// .container{
	
// 	display: flex;
// 	margin: 100px;
// 	background:@dark;
// 	flex-wrap: wrap;
// 	justify-content: space-evenly;
// 	// flex-direction: row;
// 	align-items: flex-start;
// 	height: 400px;
// 	align-content:center;



// 	.item{
// 		font-size:  @f-size1;
// 		padding: 20px;
// 		border: 1px solid white;
// 		order: 2;
// 		flex: 1;
// 	}

// 	.item:nth-child(odd){
// 		width: 300px;
// 	}

// 	.item:nth-child(even){
// 		width: 400px;
// 		background:@dark2;
// 	}

// 	.item:nth-child(4){
// 		background:palevioletred;
// 		order: 1;
// 		flex: ;
// 	}
	
// 	a{
// 		font-family: Roboto;
// 		color: @color;


// 		&:hover{
// 			color: green;
// 		}
// 		&::after{
// 			content: "-";
// 		}
// 		&::before{
// 			content: "+";
// 		}
// 		&.test{
// 			color: mintcream;
// 		}
// 	}
// 	.new{
// 		.border-radius();
// 		&_one {
// 			font-size: 10px;
// 		}
// 		&_two{
// 			.border-radius(20px);
// 			font-size: 20px;
// 			}
// 		}
// 	}

// }

